doctype xml
svg(version="1.1" id="Layer_1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", width="135px", height="37.85px", viewBox="0 0 135 37.85", enable-background="new 0 0 135 37.85", xml:space="preserve")
	g
		text(transform="matrix(1 0 0 1 10.8447 21.9797)")
			tspan(x="0", y="0", font-family="'Arial'", font-size="25.6186") TREAT
			tspan(x="83.974", y="0", opacity="0.5",  font-family="'Arial'", font-size="25.6186") IN
		text(transform="matrix(1 0 0 1 0 35.6282)", font-family="'Arial'", font-size="6.8611") Check in here for the best medical treatment
