//output:../result.html, pretty:true
include mixins
html
	head
		title TREATIN | Check in here for the best medical treatment
		include head
	body(style="background: #eee")
		//Navbar
		+WheatherHome("No")
		//End Navbar

		//Header Section		
		header.container-fluid.HeaderSectionResult
			.container-fluid.SearchHolder
				.container
					.col-md-5.col-md-offset-1
						input.form-control.input-lg(type="text", placeholder="Enter Speciality name")
					.col-md-3
						input.form-control.input-lg(type="text", placeholder="Enter city/locality/pincode")
					.col-md-2
						button.btn.btn-default.btn-block(type="button") Search
		//End Header Section

		//Breadcrumbs
		.container
			ol.breadcrumb
				li
					a(href="#") Home
				li
					a(href="#") Library
				li.active
					a(href="#") Data
		//End Breadcrumbs
		
		//Search Filters
		.container.SearchFilters
			.col-md-3 Filter By
			.col-md-9
				.btn-group.btn-group-justified(role="group")
						.btn-group(role="group")
							button.btn.btn-default.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
								i.glyphicon.glyphicon-star
								| Star Rating
								span.caret.Sorticon
							ul.dropdown-menu.btn-block
								li
									.checkbox-inline
										input(type="checkbox" id="5Star" name="5Star")
										label(for="5Star")
											div.SearchFiltersGroupStars
												+GroupStar("5", "Star")
								li
									.checkbox-inline
										input(type="checkbox" id="4Star" name="4Star")
										label(for="4Star")
											div.SearchFiltersGroupStars
												+GroupStar("4", "Star")
								li
									.checkbox-inline
										input(type="checkbox" id="3Star" name="3Star")
										label(for="3Star")
											div.SearchFiltersGroupStars
												+GroupStar("3", "Star")
								li
									.checkbox-inline
										input(type="checkbox" id="2Star" name="2Star")
										label(for="2Star")
											div.SearchFiltersGroupStars
												+GroupStar("2", "Star")
								li
									.checkbox-inline
										input(type="checkbox" id="1Star" name="1Star")
										label(for="1Star")
											div.SearchFiltersGroupStars
												+GroupStar("1", "Star")										
						.btn-group(role="group")
							button.btn.btn-default.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
								i.fa.fa-location-arrow
								| Distance
								span.caret.Sorticon
							ul.dropdown-menu.btn-block
								li
									.checkbox-inline
										input(type="checkbox" id="5Kilometer" name="5Kilometer")
										label(for="5Kilometer")
											div.SearchFiltersGroupStars 5 Kilometer
								li
									.checkbox-inline
										input(type="checkbox" id="4Kilometer" name="4Kilometer")
										label(for="4Kilometer")
											div.SearchFiltersGroupStars 4 Kilometer
								li
									.checkbox-inline
										input(type="checkbox" id="3Kilometer" name="3Kilometer")
										label(for="3Kilometer")
											div.SearchFiltersGroupStars 3 Kilometer
								li
									.checkbox-inline
										input(type="checkbox" id="2Kilometer" name="2Kilometer")
										label(for="2Kilometer")
											div.SearchFiltersGroupStars 2 Kilometer
								li
									.checkbox-inline
										input(type="checkbox" id="1Kilometer" name="1Kilometer")
										label(for="1Kilometer")
											div.SearchFiltersGroupStars 1 Kilometer
						.btn-group(role="group")
							button.btn.btn-default.drpdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
								i.fa.fa-location-arrow
								| Certification
								span.caret.Sorticon
							ul.dropdown-menu.btn-block
								li
									.checkbox-inline
										input(type="checkbox" id="aaahc" name="aaahc")
										label(for="aaahc")
											div.SearchFiltersGroupStars
												img(src="images/hospitalStandards/aaahc.png")
								li
									.checkbox-inline
										input(type="checkbox" id="dnv" name="dnv")
										label(for="dnv")
											div.SearchFiltersGroupStars
												img(src="images/hospitalStandards/dnv.png")
								li
									.checkbox-inline
										input(type="checkbox" id="jci" name="jci")
										label(for="jci")
											div.SearchFiltersGroupStars
												img(src="images/hospitalStandards/jci.png")
								li
									.checkbox-inline
										input(type="checkbox" id="msqh" name="msqh")
										label(for="msqh")
											div.SearchFiltersGroupStars
												img(src="images/hospitalStandards/msqh.png")
								li
									.checkbox-inline
										input(type="checkbox" id="nabh" name="nabh")
										label(for="nabh")
											div.SearchFiltersGroupStars
												img(src="images/hospitalStandards/nabh.png")
						.btn-group(role="group")
							button.btn.btn-default.drpdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
								i.fa.fa-location-arrow
								| Facilities
								span.caret.Sorticon
							ul.dropdown-menu.btn-block
								li
									.checkbox-inline
										input(type="checkbox" id="Wifi" name="Wifi")
										label(for="Wifi")
											div.SearchFiltersGroupStars Wifi
								li
									.checkbox-inline
										input(type="checkbox" id="waterfacility" name="waterfacility")
										label(for="waterfacility")
											div.SearchFiltersGroupStars Water Facility
		//End Search Filters

		//SearchResult
		.container.SearchResult
			.col-md-9
				.col-md-7
					h3 34 Hospitals found
				.col-md-2.HospitalSort.pull-right
					//- .dropdown
					//- 	.dropdown-toggle(type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") Sort by
					//- 		span.caret
					//- 	ul.dropdown-menu(aria-labelledby="dropdownMenu2")
					//- 		li
					//- 			a(href="#") Star Rating
					//- 		li
					//- 			a(href="#") Distance
					//- 		li
					//- 			a(href="#") Certification
					//- 		li
					//- 			a(href="#") Facilities
					select.dropdown.btn.btn-default
						option(value="0") Sort by
						option(value="Star Rating") Star Rating
						option(value="Distance") Distance
						option(value="Certification") Certification
						option(value="Facilities") Facilities
		//End SearchResult

		// Sorting
		//- .container.SortingHospitals
		//- 	.col-md-9
		//- 		.btn-group.btn-group-justified(role="group")
		//- 				.btn-group(role="group")
		//- 					button.btn.btn-default.active(type="group") Star Rating
		//- 						i.fa.fa-sort.Sorticon
		//- 				.btn-group(role="group")
		//- 					button.btn.btn-default(type="group") Distance
		//- 						i.fa.fa-sort.Sorticon
		//- 				.btn-group(role="group")
		//- 					button.btn.btn-default(type="group") Certification
		//- 						i.fa.fa-sort.Sorticon
		//- 				.btn-group(role="group")
		//- 					button.btn.btn-default(type="group") Facilities
		//- 						i.fa.fa-sort.Sorticon
		//- 	.col-md-3
		// End Sorting

		//Hospital List
				
		.container
			.col-md-9(style="padding:0")
			
				- for (var x = 1; x < 6; x++){
					//Hospitals
					.HospitalListing.col-md-12
						.HospitalImage.col-md-3
							a.HospitalImageBanner
								img.img-responsive.HospitalImage-H-W(src="images/apollo-hospital.jpg")
								.HospitalListOverlay
							.HospitalQuickviewS.animateFaster(data-toggle="tooltip" data-placement="top" title="Save Hospital")
								span.glyphicon.glyphicon-heart
							.HospitalQuickviewC.animateFaster(data-toggle="tooltip" data-placement="top" title="Add to Compare")
								span.glyphicon.glyphicon-stats
							.HospitalQuickview(data-toggle="modal" data-target="#HospitalModalBlock")
								span.glyphicon.glyphicon-search
							//- .HospitalSave
								//- span.glyphicon.glyphicon-heart(data-toggle="tooltip" data-placement="top" title="Save Hospital")
							p Since 2000
						.HospitalDetails.col-md-7
							.col-md-12
								.col-md-10
									h4 Apollo Hospital					
									p Chennai, India
								.HospitalCertification.col-md-2
									img.img-responsive(src="images/hospitalStandards/aaahc.png" data-toggle="popover" data-content="AAAHC")
									img.img-responsive(src="images/hospitalStandards/dnv.png" data-toggle="popover" data-content="DNV")
									img.img-responsive(src="images/hospitalStandards/jci.png" data-toggle="popover" data-content="JCI")
							.col-md-12
								.col-md-2 Departments
								.col-md-10 Ayurveda, Ayurveda, Diettian, Physician, Dermatologist, Ayurveda, Dermatologist
							.col-md-12
								.col-md-2 Resources
								.col-md-10 Ayurveda, Ayurveda
							.col-md-12
								.col-md-2 Facilities
								.col-md-10 Ayurveda, Ayurveda, Diettian, Physician, Dermatologist, Ayurveda, Dermatologist
						.HospitalRatings.col-md-2
							.col-md-12.HospitalStarRating
								p 
									small 234 Reviews
								span(data-toggle="popover" data-html="true" data-content="<div class='HospitalPopupStar'>Quality <i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i></div><div class='HospitalPopupStar'>Cleanlines <i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i></div><div class='HospitalPopupStar'>Accomadation <i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i></div><div class='HospitalPopupStar'>Facilities <i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i></div><div class='HospitalPopupStar'>Staff Response <i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i></div><div class='HospitalPopupStar'>Doctor Response <i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i></div>")
									small 4.0
							.col-md-12.HospitalButtons								
								button.btn.btn-block.btn-primary View Details
								button.btn.btn-block.btn-primary Talk to Hospital
								//- span.glyphicon.glyphicon-heart
								//- span.glyphicon.glyphicon-stats
					.col-md-12.modal.fade#HospitalModalBlock(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
							.modal-dialog(role="document")
								.modal-content
									.modal-header
										button.close(data-dismiss="modal" aria-label="Close" type="button")
											span(aria-hidden="true") &times;
									.modal-body
										ul.nav.nav-tabs
											li.active
												a(data-toggle="tab", href="#HospitalDetailsCompleteAbout") About
											li
												a(data-toggle="tab", href="#HospitalDetailsCompleteFacilities") Facilities
											li
												a(data-toggle="tab", href="#HospitalDetailsCompleteBranches") Branches
											li
												a(data-toggle="tab", id="google-map-tab" href="#HospitalDetailsCompleteMapDirection") Map Direction
											li
												a(data-toggle="tab", id="google-map-tab" href="#HospitalDetailsCompleteGallery") Gallery
										.tab-content
											#HospitalDetailsCompleteAbout.tab-pane.fade.in.active
												.col-md-12
													p Apollo Hospitals was the forerunner of integrated healthcare in Asia, as well as globally. Today, the group's futuristic vision has ensured that it has been in a position of strength at every touch point of the healthcare delivery chain. Its presence encompasses over 10,000 beds across 64 hospitals, more than 2200 pharmacies, over 100 primary care & diagnostic clinics, 115 telemedicine units across 9 countries, health insurance services, global projects consultancy, 15 academic institutions and a Research Foundation with a focus on global clinical trials, epidemiological studies, stem-cell and genetic research.
													p Always pursuing Quality, our Hospital envisions more efficient, equitable care at all levels of a patient's experience. Through a consensus-based process, clinical quality and efficiency measures meets the needs and expectations of the general public, government, providers and practitioners.
											#HospitalDetailsCompleteFacilities.tab-pane.fade
												.col-md-12
													.col-md-4
														i.material-icons wifi
														span Wifi
													.col-md-4
														i.material-icons directions_car
														span Car Parking
													.col-md-4
														i.material-icons directions_bus
														span Shuttle Bus Service
													.col-md-4
														i.material-icons restaurant_menu
														span Restaurant
													.col-md-4
														i.material-icons face
														span SPA
													.col-md-4
														i.material-icons accessibility
														span Fitness Center
											#HospitalDetailsCompleteBranches.tab-pane.fade
												.col-md-12
													- for (var y = 1; y < 5; y++) {
														.col-md-6
															h3	Billroth Hospital
															p 
																span
																	+GroupStar("5", "Star")
																strong 5 
																| of 5 
																small (234 reviews)
															p
																i.fa.fa-map-marker 
																| 43, Lakshmi Talkies Road, Shenoy Nagar, Chennai- 30
													- }
											#HospitalDetailsCompleteMapDirection.tab-pane.fade
												.col-md-12
													h3	Map Direction
													#map-canvas(style="width:100%; height:400px;")
											#HospitalDetailsCompleteGallery.tab-pane.fade
												.col-md-12
													.flexslider
														.slides
															li(data-thumb="images/1.jpg")
																img(src="images/1.jpg")/
															li(data-thumb="images/2.jpg")
																img(src="images/2.jpg")/
															li(data-thumb="images/3.jpg")
																img(src="images/3.jpg")/
															li(data-thumb="images/4.jpg")
																img(src="images/4.jpg")/
									.modal-footer
				- }
				//- 
				//- - for (var x = 1; x < 3; x++){
				//- 	//Hospitals
				//- 	.HospitalListing.col-md-12
				//- 		.HospitalImage.col-md-3
				//- 			a.HospitalImageBanner
				//- 				img.img-responsive.HospitalImage-H-W(src="images/apollo-hospital.jpg")
				//- 			.HospitalQuickview(data-toggle="modal" data-target="#HospitalModalBlock")
				//- 				span.glyphicon.glyphicon-search
				//- 			.HospitalSave
				//- 				span.glyphicon.glyphicon-heart(data-toggle="tooltip" data-placement="top" title="Save Hospital")
				//- 			p Since 2000
				//- 		.HospitalDetails.col-md-7
				//- 			.row
				//- 				.col-md-9
				//- 					h4 Apollo Hospital								
				//- 					p Chennai, India
				//- 				.HospitalCertification.col-md-3.pull-right
				//- 					img.img-responsive(src="images/hospitalStandards/aaahc.png" data-toggle="popover" data-content="AAAHC")
				//- 					img.img-responsive(src="images/hospitalStandards/dnv.png" data-toggle="popover" data-content="DNV")
				//- 					img.img-responsive(src="images/hospitalStandards/jci.png" data-toggle="popover" data-content="JCI")
				//- 					img.img-responsive(src="images/hospitalStandards/nabh.png" data-toggle="popover" data-content="NABH")
				//- 			.row
				//- 				.col-md-2 Departments
				//- 				.col-md-10 Ayurveda, Ayurveda, Diettian, Physician, Dermatologist, Ayurveda, Dermatologist
				//- 			.row
				//- 				.col-md-2 Resources
				//- 				.col-md-10 Ayurveda, Ayurveda
				//- 			.row
				//- 				.col-md-2 Facilities
				//- 				.col-md-10 Ayurveda, Ayurveda, Diettian, Physician, Dermatologist, Ayurveda, Dermatologist
				//- 		.HospitalRatings.col-md-2
				//- 			.col-md-12.HospitalStarRating
				//- 				p 
				//- 					small 234 Reviews
				//- 				span(data-toggle="popover" data-html="true" data-content="<span class='HospitalPopupStar'>Quality <i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i></span><br/><span class='HospitalPopupStar'>Cleanlines <i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i></span><br/><span class='HospitalPopupStar'>Accomadation <i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i></span><br/><span class='HospitalPopupStar'>Facilities <i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i></span><br/><span class='HospitalPopupStar'>Quality <i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i></span><br/>")
				//- 					small 4.0
				//- 			.col-md-12.HospitalButtons								
				//- 				button.btn.btn-block.btn-primary View Details
				//- 				button.btn.btn-block.btn-primary Talk to Hospital
				//- 				//- span.glyphicon.glyphicon-heart
				//- 				//- span.glyphicon.glyphicon-stats
				//- 	.col-md-12.modal.fade#HospitalModalBlock(tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
				//- 			.modal-dialog.modal-lg(role="document")
				//- 				.modal-content
				//- 					.modal-header
				//- 						button.close(data-dismiss="modal" aria-label="Close" type="button")
				//- 							span(aria-hidden="true") &times;
				//- 					.modal-body
				//- 						ul.nav.nav-tabs
				//- 							li.active
				//- 								a(data-toggle="tab", href="#HospitalDetailsCompleteAbout") About
				//- 							li
				//- 								a(data-toggle="tab", href="#HospitalDetailsCompleteFacilities") Facilities
				//- 							li
				//- 								a(data-toggle="tab", href="#HospitalDetailsCompleteBranches") Branches
				//- 							li
				//- 								a(data-toggle="tab", id="google-map-tab" href="#HospitalDetailsCompleteMapDirection") Map Direction
				//- 							li
				//- 								a(data-toggle="tab", id="google-map-tab" href="#HospitalDetailsCompleteGallery") Gallery
				//- 						.tab-content
				//- 							#HospitalDetailsCompleteAbout.tab-pane.fade.in.active
				//- 								.col-md-12
				//- 									p Apollo Hospitals was the forerunner of integrated healthcare in Asia, as well as globally. Today, the group's futuristic vision has ensured that it has been in a position of strength at every touch point of the healthcare delivery chain. Its presence encompasses over 10,000 beds across 64 hospitals, more than 2200 pharmacies, over 100 primary care & diagnostic clinics, 115 telemedicine units across 9 countries, health insurance services, global projects consultancy, 15 academic institutions and a Research Foundation with a focus on global clinical trials, epidemiological studies, stem-cell and genetic research.
				//- 									p Always pursuing Quality, our Hospital envisions more efficient, equitable care at all levels of a patient's experience. Through a consensus-based process, clinical quality and efficiency measures meets the needs and expectations of the general public, government, providers and practitioners.
				//- 							#HospitalDetailsCompleteFacilities.tab-pane.fade
				//- 								.col-md-12
				//- 									.col-md-4
				//- 										i.material-icons wifi
				//- 										span Wifi
				//- 									.col-md-4
				//- 										i.material-icons directions_car
				//- 										span Car Parking
				//- 									.col-md-4
				//- 										i.material-icons directions_bus
				//- 										span Shuttle Bus Service
				//- 									.col-md-4
				//- 										i.material-icons restaurant_menu
				//- 										span Restaurant
				//- 									.col-md-4
				//- 										i.material-icons face
				//- 										span SPA
				//- 									.col-md-4
				//- 										i.material-icons accessibility
				//- 										span Fitness Center
				//- 							#HospitalDetailsCompleteBranches.tab-pane.fade
				//- 								.col-md-12
				//- 									- for (var y = 1; y < 5; y++) {
				//- 										.col-md-6
				//- 											h3	Billroth Hospital
				//- 											p 
				//- 												span
				//- 													+GroupStar("5", "Star")
				//- 												strong 5 
				//- 												| of 5 
				//- 												small (234 reviews)
				//- 											p
				//- 												i.fa.fa-map-marker 
				//- 												| 43, Lakshmi Talkies Road, Shenoy Nagar, Chennai- 30
				//- 									- }
				//- 							#HospitalDetailsCompleteMapDirection.tab-pane.fade
				//- 								.col-md-12
				//- 									h3	Map Direction
				//- 									#map-canvas(style="width:100%; height:400px;")
				//- 							#HospitalDetailsCompleteGallery.tab-pane.fade
				//- 								.col-md-12
				//- 									.flexslider
				//- 										.slides
				//- 											li(data-thumb="images/1.jpg")
				//- 												img(src="images/1.jpg")/
				//- 											li(data-thumb="images/2.jpg")
				//- 												img(src="images/2.jpg")/
				//- 											li(data-thumb="images/3.jpg")
				//- 												img(src="images/3.jpg")/
				//- 											li(data-thumb="images/4.jpg")
				//- 												img(src="images/4.jpg")/
				//- 					.modal-footer
				//- - }
				//- 
				//- - for (var x = 1; x < 3; x++){
				//- 	//Hospitals
				//- 	.HospitalListing.col-md-12
				//- 		.HospitalImage.col-md-3
				//- 			a.HospitalImageBanner
				//- 				img.img-responsive.HospitalImage-H-W(src="images/apollo-hospital.jpg")
				//- 			.HospitalQuickview
				//- 				span.glyphicon.glyphicon-search
				//- 			//- .HospitalSave
				//- 			//- 	span.glyphicon.glyphicon-heart
				//- 			p Since 2000
				//- 		.HospitalDetails.col-md-7
				//- 			.row
				//- 				.col-md-9
				//- 					h4 Apollo Hospital								
				//- 					p Chennai, India
				//- 				.HospitalCertification.col-md-3.pull-right
				//- 					img.img-responsive(src="images/hospitalStandards/aaahc.png" data-toggle="popover" data-content="AAAHC")
				//- 					img.img-responsive(src="images/hospitalStandards/dnv.png" data-toggle="popover" data-content="DNV")
				//- 					img.img-responsive(src="images/hospitalStandards/jci.png" data-toggle="popover" data-content="JCI")
				//- 					img.img-responsive(src="images/hospitalStandards/nabh.png" data-toggle="popover" data-content="NABH")
				//- 			.row
				//- 				.col-md-2 Departments
				//- 				.col-md-10 Ayurveda, Ayurveda, Diettian, Physician, Dermatologist, Ayurveda, Dermatologist
				//- 			.row
				//- 				.col-md-2 Resources
				//- 				.col-md-10 Ayurveda, Ayurveda
				//- 			.row
				//- 				.col-md-2 Facilities
				//- 				.col-md-10 Ayurveda, Ayurveda, Diettian, Physician, Dermatologist, Ayurveda, Dermatologist
				//- 		.HospitalRatings.col-md-2
				//- 			.col-md-12.HospitalStarRating
				//- 				p 
				//- 					small 234 Reviews
				//- 				span(data-toggle="popover" data-html="true" data-content="<span class='HospitalPopupStar'>Quality <i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i></span><br/><span class='HospitalPopupStar'>Cleanlines <i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i></span><br/><span class='HospitalPopupStar'>Accomadation <i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i></span><br/><span class='HospitalPopupStar'>Facilities <i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i></span><br/><span class='HospitalPopupStar'>Quality <i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i><i class='glyphicon glyphicon-star'></i></span><br/>")
				//- 					small 4.0
				//- 			.col-md-12.HospitalButtons								
				//- 				button.btn.btn-block.btn-primary View Details
				//- 				button.btn.btn-block.btn-primary Talk to Hospital
				//- 				span.glyphicon.glyphicon-heart(data-toggle="tooltip" data-placement="top" title="Save Hospital")
				//- 				span.glyphicon.glyphicon-stats(data-toggle="tooltip" data-placement="top" title="Add to Compare")
				//- - }
					//End Hospitals
			//Sidebar
			.col-md-3.SidebarResult
				//Sidebar List Result
				.container.col-md-12.SidebarListResult
					.col-md-12.CompareHospitalsBlockEmpanel
						button.btn.btn-default.btn-block Empanel your Hospital
				.container.col-md-12.SidebarListResult
					h4 Compare Hospitals
					- for (var x = 0; x < 3; x++)
						.col-md-12.CompareHospitalsBlock						
							.col-md-4
								img.img-responsive(src="images/apollo-hospital.jpg")
							.col-md-8
								h5  Apollo Hospital
								p
									+GroupStar("5", "Star")
					.col-md-12.CompareHospitalsBlock
						button.btn.btn-default.btn-block Compare Now
				.container.col-md-12.SidebarListResultWithBorder
					h5 
						strong WHY USE TREATIN !
					.col-md-12
						p
							+GroupStar("1", "Star")
							| Best Price Guaranteed
						span Low rates
					.col-md-12
						p
							+GroupStar("1", "Star")
							| Verified reviews
						span We verify all reviews
					.col-md-12
						p
							+GroupStar("1", "Star")
							| Make changes to your
						span We verify all reviews

				.container.col-md-12.SidebarListResultWithBorder
					h5 
						strong Support Services !
					.col-md-12
						p
							a FIND HEALTH CARE FACILITATOR
						p
							a FIND SERVICED APARTMENTS
						p
							a FIND LOCAL TRAVEL / TAXI SERVICE
						p
							a HOME HEALTHCARE SERVICES
						p
							a FIND LOCAL TRANSLATOR SERVICES
						p
							a FIND HOLIDAY & TOURIST SERVICES
							
					
				//End Sidebar List Result


			//End Sidebar

		//End Hospital List



		include footer
